{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data de Validade</title>
    <meta name="description" content="Controle de datas de validade" />
    <meta name="keywords" content="validade" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <header>
      <nav class="max-w-screen-xl p-4 bg-blue-600">
        <ul class="font-medium flex flex-row space-x-8">
          <li>
            <a class="text-white" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="#" class="text-blue-100 hover:text-blue-200">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="max-w-screen-xl p-4">
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
