{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data de Validade</title>
    <meta name="description" content="Controle de datas de validade" />
    <meta name="keywords" content="validade" />
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <header>
      <nav class="max-w-screen-xl p-4 bg-blue-600">
        <ul class="w-full font-medium flex flex-row gap-4">
          <li>{% include 'core/components/navlink.html' with page_name='produtos' href='/' label='Produtos' %}</li>
          {% url 'cadastro' as cadastro_href %}
          <li>{% include 'core/components/navlink.html' with page_name='cadastro' href=cadastro_href label='Cadastro' %}</li>
          {% url 'tags' as tags_href %}
          <li class="flex-grow"></li>
          <li>{% include 'core/components/navlink.html' with page_name='tags' href=tags_href icon='core/icons/tag.html' %}</li>
          {% url 'historico' as historico_href %}
          <li>
            {% include 'core/components/navlink.html' with page_name='historico' href=historico_href icon='core/icons/archive-box.html' %}
          </li>
        </ul>
      </nav>
    </header>
    <main class="max-w-screen-xl p-4">
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
