{% extends "core/base.html" %}
{% block content %}
    {% include 'core/components/h1.html' with texto="Tags" %}
    <div class="pb-6 border-b">{% include 'core/partials/tag-form.html' %}</div>
    <section class="my-6">
        {% if tags %}
            <ul class="flex gap-2 flex-wrap">
                {% for tag in tags %}
                    <li class="flex gap-2 items-center px-2 py-1 rounded"
                        style="background-color: {{ tag.cor_fundo }};
                               color: {{ tag.cor_texto }}">
                        {{ tag.nome }}
                        <a href="{% url 'tag-editar' tag.id %}" class="ml-4">{% include 'core/icons/pencil-square.html' %}</a>
                        <form action="{% url 'tag-remover' tag.id %}"
                              method="post"
                              class="flex items-center">
                            {% csrf_token %}
                            <button type="submit">{% include 'core/icons/x-mark.html' %}</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma tag encontrada.</p>
        {% endif %}
    </section>
{% endblock content %}
